<!-- Здесь все просто приходит и вставляется -->
<div id="fetched-content">{{ content|safe }}</div>
<input type="hidden" id="fetched-doc-type" value="{{ cur_doc }}">

<div id="reset-btn-container" hx-swap-oob="true">
    <form hx-post="{% url 'backup_default_doc' %}" hx-target="#hidden-data-container" hx-swap="innerHTML"
        style="margin: 0;">
        {% csrf_token %}
        <input type="hidden" name="current_document" value="{{ cur_doc }}">
        <button type="submit" class="btn-delete-worker">По умолчанию</button>
    </form>
</div>