{% load static %}
<link rel="stylesheet" href="{% static 'profile_user/css/create_individual_form.css' %}">

<div class="modal-overlay">
    <form hx-post="{% url 'create-new-form' %}" hx-target="#show_new_form_create" hx-swap="innerHTML"
        class="individual_window">
        {% csrf_token %}
        <div class="modal-header">
            <h3>Создать новую форму</h3>
            <button type="button" class="btn-close-modal"
                onclick="document.getElementById('show_new_form_create').innerHTML = ''">✕</button>
        </div>

        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
            {{ message }}
        </div>
        {% endfor %}
        {% endif %}

        <!-- Скрытые параметры -->
        <input type="hidden" name="type_of_order_selected" value="{{ type_of_order_selected }}">
        <input type="hidden" name="category" value="{{ category }}">

        <!-- Поля формы -->
        <div>
            <label style="font-size: 0.85rem; color: #64748b; display: block; margin-bottom: 4px;">Название поля</label>
            <input type="text" name="label" placeholder="Введите название..." required>
        </div>

        <div class="required_form">
            <label>
                <input type="checkbox" name="is_required" id="is_required"> Форма обязательна для заполнения?
            </label>
        </div>

        <div class="div-type-of-form">
            <label><input type="checkbox" name="checkbox1" id="checkbox1"> Тип формы: Текст</label>
            <label><input type="checkbox" name="checkbox2" id="checkbox2"> Тип формы: Условие</label>
            <label><input type="checkbox" name="checkbox3" id="checkbox3"> Тип формы: Большой текст</label>
        </div>

        <button type="submit">Создать</button>
    </form>
</div>

<script>
    document.getElementById('checkbox1').addEventListener('click', function (event) {
        document.getElementById('checkbox2').checked = false;
        document.getElementById('checkbox3').checked = false;
        event.target.checked = true;
    });

    document.getElementById('checkbox2').addEventListener('click', function (event) {
        document.getElementById('checkbox1').checked = false;
        document.getElementById('checkbox3').checked = false;
        event.target.checked = true;
    });

    document.getElementById('checkbox3').addEventListener('click', function (event) {
        document.getElementById('checkbox1').checked = false;
        document.getElementById('checkbox2').checked = false;
        event.target.checked = true;
    });

    document.body.addEventListener('closeModal', function () {
        // Очистка контейнера
        document.getElementById('show_new_form_create').innerHTML = '';
    });
</script>