<!-- create_individual_form.html -->
<form hx-post="{% url 'create-new-form' %}" hx-swap="none" class="individual_window">
    {% csrf_token %}
    <!-- Передаем скрытые параметры прямо в форме -->
    <!-- Тип заказа -->
    <input type="hidden" name="type_of_order_selected" value="{{ type_of_order_selected }}">
    <!-- Категория -->
    <input type="hidden" name="category" value="{{ category }}">
    <!-- Название только самой формы -->
    <input type="text" name="label">
    <div class="required_form">
        <label>
            <input type="checkbox" name="is_required" id="is_required"> Форма обязательна для заполнения?
        </label>
    </div>
    <div class="div-type-of-form">
        <label>
            <input type="checkbox" name="checkbox1" id="checkbox1"> Тип формы: Текст
        </label>
        <label>
            <input type="checkbox" name="checkbox2" id="checkbox2"> Тип формы: Условие
        </label>
        <label>
            <input type="checkbox" name="checkbox3" id="checkbox3"> Тип формы: Большой текст
        </label>
    </div>
    <!-- Кнопка отправки на создание -->
    <button type="submit">Cоздать</button>
</form>

<script>
    document.getElementById('checkbox1').addEventListener('click', function (event) {
        // Явно снимаем отметку со второго чекбокса
        document.getElementById('checkbox2').checked = false;
        document.getElementById('checkbox3').checked = false;
        // Ставим отметку на первом
        event.target.checked = true;
    });

    document.getElementById('checkbox2').addEventListener('click', function (event) {
        // Явно снимаем отметку со второго чекбокса
        document.getElementById('checkbox1').checked = false;
        document.getElementById('checkbox3').checked = false;
        // Ставим отметку на втором
        event.target.checked = true;
    });

    document.getElementById('checkbox3').addEventListener('click', function (event) {
        // Явно снимаем отметку со второго чекбокса
        document.getElementById('checkbox1').checked = false;
        document.getElementById('checkbox2').checked = false;
        // Ставим отметку на втором
        event.target.checked = true;
    });
</script>