{% load static %}

<div class="storage-card">
    <form hx-post="{% url 'garanty-storage' %}" class="garanty-form-storage">
        {% csrf_token %}
        {{ form_garanty.management_form }}

        <!-- СКРОЛЛИРУЕМАЯ ЗОНА (Таблица + Кнопка «Добавить») -->
        <div class="scrollable-body">
            <div class="table-responsive">
                <table class="items-table">
                    <thead>
                        <tr>
                            <th style="width: 40px;">#</th>
                            <th style="width: 28%;">Товар (поиск)</th>
                            <th style="width: 10%;">Код</th>
                            <th style="width: 16%;">Товара на складе</th>
                            <th style="width: 16%;">Поставщик</th>
                            <th style="width: 15%;">Компенсация (₽)</th>
                            <th style="width: 10%;">Кол-во</th>
                            <th style="width: 40px;"></th>
                        </tr>
                    </thead>
                    <tbody id="garanty-div-form">
                        {% for form in form_garanty %}
                        <tr class="django-form item-row">
                            <td class="row-number"><span class="hash">{{ forloop.counter }}</span></td>
                            <td>{{ form.name_product_history }}</td>
                            <td>{{ form.individual_code_history }}</td>
                            <!-- Новое информационное поле -->
                            <td>
                                <input type="text" class="readonly-input stock-remainder-input" readonly placeholder="">
                            </td>
                            <td>{{ form.supplier_history }}</td>
                            <td>{{ form.buy_price_history }}</td>
                            <td>{{ form.quantity_history }}</td>
                            <td class="text-center">
                                <button type="button" class="btn-remove-row" title="Удалить">&times;</button>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            <div class="table-actions">
                <button type="button" id="add-new-form-garanty" class="btn-add-row">
                    <i class="fa-solid fa-plus"></i> Добавить товар
                </button>
            </div>
        </div>

        <div class="form-footer">
            <button type="submit" class="btn btn-primary">Создать списание</button>
            <a href="#" class="btn btn-secondary">Отмена</a>
        </div>
    </form>

    <!-- Скрытый шаблон -->
    <table style="display: none;">
        <tbody id="empty-form-garanty">
            <tr class="django-form item-row">
                <td class="row-number"><span class="hash">#</span></td>
                <td>{{ form_garanty.empty_form.name_product_history }}</td>
                <td>{{ form_garanty.empty_form.individual_code_history }}</td>
                <!-- Новое информационное поле в шаблоне -->
                <td>
                    <input type="text" class="readonly-input stock-remainder-input" readonly placeholder="">
                </td>
                <td>{{ form_garanty.empty_form.supplier_history }}</td>
                <td>{{ form_garanty.empty_form.buy_price_history }}</td>
                <td>{{ form_garanty.empty_form.quantity_history }}</td>
                <td class="text-center">
                    <button type="button" class="btn-remove-row" title="Удалить">&times;</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>