{% load static %}
<script src="{% static 'storage/js/garanty-storage.js' %}" defer></script>
<link rel="stylesheet" href="{% static 'storage/css/garanty-storage.css' %}">

<form hx-post="{% url 'garanty-storage' %}" class="garanty-form-storage">
    {% csrf_token %}
    {{ form_garanty.management_form }}

    <div id="garanty-div-form">
        {% for form in form_garanty %}
        <div class="django-form">
            {{ form.as_p }}
        </div>
        {% endfor %}
    </div>

    <button type="submit" class="btn btn-primary btn-submit">Создать</button>
    <button type="button" id="add-new-form-garanty">Новое гарантийное списание</button>

    <div id="empty-form-garanty" style="display: none;">
        <div class="django-form">
            {{ form_garanty.empty_form.as_p }}
        </div>
    </div>
</form>