<!-- show_window_forms.html -->
{% load static %}
<script>
    window.DELETE_FORM_URL = '{% url "delete-custom-form" %}';
    window.GET_FIELD_MODAL_URL = "{% url 'get-individual-field-modal' %}";
    window.objects_show = "{{ objects_show }}";
    window.type_of_order_selected = "{{ type_of_order_selected }}";
</script>
<script src="{% static 'profile_user/js/show_window_forms.js' %}" defer></script>
{% if irrelevant_forms %}
<div class="sidebar-body">
    {% for form in irrelevant_forms %}
    <div class="field-checkbox-card"
        style="cursor: pointer; padding: 10px; border: 1px solid #ccc; margin-bottom: 8px; border-radius: 6px; display: flex; align-items: center; justify-content: space-between;"
        onclick="insertFieldIntoSlot('{{ objects_show }}', '{{ form.field_key }}', '{{ form.label|default:form.field_key|escapejs }}')">
        <span class="field-label">{{ form.label|default:form.field_key }}</span>
        {% if form.custom_form %}
        <button type="button" class="btn" style="margin-left: auto;" data-section-id="{{ form.field_key }}"
            data-field-key="{{ form.field_key }}" onclick="event.stopPropagation(); DeleteCustomClick(this);">
            <i class="fa-solid fa-trash" style="color: rgb(248, 0, 0);"></i>
        </button>
        {% endif %}
    </div>
    {% empty %}
    <p>Все поля уже добавлены</p>
    {% endfor %}
</div>
{% else %}
<p class="placeholder-text">Все доступные поля уже добавлены в эту секцию.</p>
{% endif %}

<button type="button" hx-get="{% url 'create-new-form' %}"
    hx-vals='{"type_of_order_selected": "{{ type_of_order_selected }}", "category": "{{ objects_show }}"}'
    hx-target="#show_new_form_create" class="new_individual_form">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-square"
        viewBox="0 0 16 16">
        <path
            d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z" />
        <path
            d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
    </svg>
    <span>Создать новую форму</span>
</button>