{% extends "profile_user/base.html" %}
{% load static %}

{% block content %}
<form method="get" class="navigation-select">
    <label for="page-select">Выберите документ</label>
    <select id="page-select" onchange="location.href=this.value;">
        <option value="" disabled selected>Перейти к...</option>
        <!-- # Отвечает за показ АКТА О ВЫДАЧЕ -->
        <option value="{% url 'garanty_doc' %}" disabled selected>Акт о выдаче</option>
        <!-- # Отвечает за показ АКТА О ПРИНЯТИИ -->
        <option value="{% url 'adoption_doc' %}" disabled selected>Акт о принятии</option>
        <!-- # Отвечает за показ АКТА О ОТКАЗЕ -->
        <option value="{% url 'cancell_doc' %}" disabled selected>Акт о отказе</option>
        <!-- # Отвечает за показ АКТА О ВЫПОЛНЕННЫХ РАБОТАХ -->
        <option value="{% url 'complete_doc' %}" disabled selected>Акт о выполненных работах</option>
</select>

</form>

<form action="" method="post">
    {% csrf_token %}

    {{ tiny_mce.media }}

    {{ tiny_mce.as_p }}

    <button type="submit">Сохранить документ</button>

</form>
{% endblock %}