{% extends "profile_user/base.html" %}
{% load static %}

{% block content %}
<div class="div-place">
    <div class="div-box">
        <h1>Здравствуйте, {{ user.first_name }} {{ user.last_name }}!</h1>
        <p>Давайте настроим все так, как вам хочется!</p>
        <p>Как называется ваш сервисный центр?</p>
        <div class="form-container div_service_name">
            <form method="post">
                <div class="field_input_name">
                    {% csrf_token %}
                    {{ service_info.name_service }}
                    <p>Пожалуйста, введите адрес вашего сервиса</p>
                    {{ service_info.address }}
                    <button>Далее</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}