{% extends "profile_user/base.html" %}

{% block content %}
<div class="div-place">
    <div class="div-box">
        <h1 class="main-page-title">Здравствуйте, {{ user.first_name }} {{ user.last_name }}!</h1>
        <p class="subtitle">Давайте настроим все так, как вам хочется!</p>

        <div class="form-container div_service_name">
            <form method="post" class="worker-form-inline">
                {% csrf_token %}

                <div class="field-group">
                    <label for="{{ service_info.name_service.id_for_label }}">Как называется ваш сервисный
                        центр?</label>
                    {{ service_info.name_service }}
                    {% if service_info.name_service.errors %}
                    <div class="form-error">{{ service_info.name_service.errors }}</div>
                    {% endif %}
                </div>

                <div class="field-group">
                    <label for="{{ service_info.address.id_for_label }}">Пожалуйста, введите адрес вашего
                        сервиса</label>
                    {{ service_info.address }}
                    {% if service_info.address.errors %}
                    <div class="form-error">{{ service_info.address.errors }}</div>
                    {% endif %}
                </div>

                <div class="form-buttons">
                    <button type="submit" class="btn btn-submit">Далее</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}