{% extends "storage/base.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'storage/css/form-removal.css' %}">
<script src="{% static 'storage/js/form-removal.js' %}" defer></script>

<div class="div-place-form-removal">
    <div class="div-box-form-removal">

        <!-- Шапка страницы (Flexbox-контейнер только для H1 и Select) -->
        <div class="page-header-wrapper">
            <h1 class="page-title">Списание товара</h1>

            <div class="form-editor-header">
                <form method="get" class="navigation-form-select">
                    <select class="custom-select" id="page-select" name="type_of_form_selected" autocomplete="off"
                        hx-trigger="change" hx-target="#show-removal-forms" hx-get="{% url 'removal-form-storage' %}"
                        hx-swap="innerHTML">
                        <option value="" disabled selected hidden>Выберите тип списания товара...</option>
                        <option value="warranty_form">Гарантийное списание (возврат с возмещением средств)</option>
                        <option value="removal_form">Списание</option>
                    </select>
                </form>
            </div>
        </div>

        <div id="show-removal-forms" class="builder-container"></div>

    </div>
</div>
{% endblock %}