{% load static %}

<div class="storage-card">

    <div id="messages-container">
        {% include 'finance/messages.html' %}
    </div>

    <form hx-post="{% url 'buy-other' %}" hx-target="#messages-container" hx-swap="innerHTML"
        class="buy-other-form">
        {% csrf_token %}
        {{ form_buy_other.management_form }}

        <div class="scrollable-body">
            <div class="table-responsive">
                <table class="items-table">
                    <thead>
                        <tr>
                            <th style="width: 40px;">#</th>
                            <th style="width: 32%;">Название</th>
                            <th style="width: 12%;">Сумма</th>
                            <th style="width: 18%;">Цена</th>
                            <th style="width: 22%;">Поставщик</th>
                            <th style="width: 40px;"></th>
                        </tr>
                    </thead>
                    <tbody id="other-div-form">
                        {% for form in form_buy_other %}
                        <tr class="django-form item-row">
                            <td class="row-number"></td>
                            <td>{{ form.product_name }}</td>
                            <td>{{ form.number_in_the_operation }}</td>
                            <td>{{ form.supplier }}</td>
                            <td>{{ form.comment }}</td>
                            <td class="text-center">
                                <button type="button" class="btn-remove-row" onclick="removeRemovalRow(this)"
                                    title="Удалить">&times;</button>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            <div class="table-actions">
                <!-- Явный вызов функции onclick -->
                <button type="button" onclick="addBuyOtherRow()" class="btn-add-row">
                    <i class="fa-solid fa-plus"></i> Добавить транзакцию
                </button>
            </div>
        </div>

        <div class="form-footer">
            <button type="submit" class="btn btn-primary">Подвердить</button>
        </div>
    </form>

    <!-- Скрытый шаблон новой строки -->
    <template id="buy-other-row-template">
        <tr class="django-form item-row">
            <td class="row-number"></td>
            <td>{{ form_removal.empty_form.product_name }}</td>
            <td>{{ form_removal.empty_form.number_in_the_operation }}</td>
            <td>{{ form_removal.empty_form.supplier }}</td>
            <td>{{ form_removal.empty_form.comment }}</td>
            <td class="text-center">
                <button type="button" class="btn-remove-row" onclick="removeRemovalRow(this)"
                    title="Удалить">&times;</button>
            </td>
        </tr>
    </template>
</div>