{% load static %}

<div class="storage-card">

    <div id="messages-container">
        {% include 'storage/messages.html' %}
    </div>

    <form hx-post="{% url 'removal-storage' %}" hx-target="#messages-container" hx-swap="innerHTML"
        class="removal-form-storage">
        {% csrf_token %}
        {{ form_removal.management_form }}

        <div class="scrollable-body">
            <div class="table-responsive">
                <table class="items-table">
                    <thead>
                        <tr>
                            <th style="width: 40px;">#</th>
                            <th style="width: 32%;">Товар (поиск)</th>
                            <th style="width: 12%;">Код</th>
                            <th style="width: 18%;">Остаток</th>
                            <th style="width: 22%;">Поставщик</th>
                            <th style="width: 12%;">Кол-во</th>
                            <th style="width: 40px;"></th>
                        </tr>
                    </thead>
                    <tbody id="removal-div-form">
                        {% for form in form_removal %}
                        <tr class="django-form item-row">
                            <td class="row-number"></td>
                            <td>{{ form.name_product_history }}</td>
                            <td>{{ form.individual_code_history }}</td>
                            <td>
                                <input type="text" class="readonly-input stock-remainder-input" readonly placeholder="">
                            </td>
                            <td>{{ form.supplier_history }}</td>
                            <td>{{ form.quantity_history }}</td>
                            <td class="text-center">
                                <button type="button" class="btn-remove-row" onclick="removeRemovalRow(this)"
                                    title="Удалить">&times;</button>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            <div class="table-actions">
                <!-- Явный вызов функции onclick -->
                <button type="button" onclick="addRemovalRow()" class="btn-add-row">
                    <i class="fa-solid fa-plus"></i> Добавить товар
                </button>
            </div>
        </div>

        <div class="form-footer">
            <button type="submit" class="btn btn-primary">Создать списание</button>
            <a href="#" class="btn btn-secondary">Отмена</a>
        </div>
    </form>

    <!-- Скрытый шаблон новой строки -->
    <template id="removal-row-template">
        <tr class="django-form item-row">
            <td class="row-number"></td>
            <td>{{ form_removal.empty_form.name_product_history }}</td>
            <td>{{ form_removal.empty_form.individual_code_history }}</td>
            <td>
                <input type="text" class="readonly-input stock-remainder-input" readonly placeholder="">
            </td>
            <td>{{ form_removal.empty_form.supplier_history }}</td>
            <!-- Исправлено: добавлен empty_form -->
            <td>{{ form_removal.empty_form.quantity_history }}</td>
            <td class="text-center">
                <button type="button" class="btn-remove-row" onclick="removeRemovalRow(this)"
                    title="Удалить">&times;</button>
            </td>
        </tr>
    </template>
</div>