<!-- sortable_list.html -->
<div class="fields-sortable-list" id="sortable-{{ objects_show.id }}" data-section-id="{{ objects_show.id }}">
    {% for obj in objects_show.fields %}
    <div class="field-pill" data-key="{{ obj.field_key }}">
        <span class="drag-handle" title="Зажмите, чтобы перетащить">⋮⋮</span>
        <div class="outer-wrapper">
            <span class="field-name">{{ obj.label }}</span>
            <!-- Кнопка удаления -->
            <button type="button" class="btn" data-section-id="{{ objects_show.id }}"
                data-field-key="{% if obj.field_key %}{{ obj.field_key }}{% else %}{{ obj }}{% endif %}"
                onclick="DeleteClick(this)">
                <i class="fa-solid fa-trash" style="color: rgb(248, 0, 0);"></i>
            </button>
            <!-- Кнопка редактирования поля -->
            <button type="button" class="btn"
                hx-get="{% url 'get-individual-field-modal' %}?section_id={{ objects_show.id }}&field_key={{ obj.field_key }}&type_of_order_selected={{ form_order.type_of_order }}&category={{ objects_show.id }}"
                hx-target="#center-modal-container" onclick="openFieldModal()" title="Настройки поля">
                <i class="fa fa-cogs" aria-hidden="true"></i>
            </button>
        </div>
    </div>
    {% empty %}
    <div class="empty-section-placeholder">В этой секции пока нет активных полей</div>
    {% endfor %}
    {% if not objects_show.fields|length|divisibleby:2 %}
    <div id="slot-{{ objects_show.id }}-empty" class="placeholder-slot empty-grid-slot"
        onclick="openSidebarForSlot('{{ objects_show.id }}', 'slot-{{ objects_show.id }}-empty')">
        + Добавить поле
    </div>
    {% endif %}
</div>
