{% extends "services/base.html" %}
{% load static %}
{% load humanize %}

{% block content %}
<link rel="stylesheet" href="{% static 'services/css/services-main.css' %}">
<script src="{% static 'services/js/services-main.js' %}" defer></script>

<div class="div-place-services">
    <div class="div-box-services">

        <h1>Ваши усулуги</h1>

        {% if not service_works %}

        <h1>У вас нет созданных услуг!</h1>

        {% else %}

        {% for obj in service_works %}
        <div class='services-work'>

            <h2>Название услуги: {{obj.name_service_work}}</h2>
            <h2>Цена услуги: {{obj.price}}</h2>
            <h2>Категория: {{obj.category}}</h2>

        </div>
        {% endfor %}

        {% endif %}

    </div>
</div>
{% endblock %}
