{% load static %}

<div class="storage-card">

    <form hx-post="{% url 'sell-other' %}" hx-target="#messages-container" hx-swap="innerHTML" class="sell-other-form">
        {% csrf_token %}
        {{ form_sell_other.management_form }}

        <div class="scrollable-body">
            <div class="table-responsive">
                <table class="items-table">
                    <thead>
                        <tr>
                            <th style="width: 45px;">#</th>
                            <th style="width: 30%;">Причина поступления</th>
                            <th style="width: 15%;">Сумма, ₽</th>
                            <th style="width: 20%;">Поставщик</th>
                            <th style="width: 30%;">Комментарий</th>
                            <th style="width: 45px;"></th>
                        </tr>
                    </thead>
                    <tbody id="other-div-form">
                        {% for form in form_sell_other %}
                        <tr class="django-form item-row">
                            <td class="row-number"></td>
                            <td>{{ form.product_name }}</td>
                            <td>{{ form.number_in_the_operation }}</td>
                            <td>{{ form.supplier }}</td>
                            <td>{{ form.comment }}</td>
                            <td class="text-center">
                                <button type="button" class="btn-remove-row" onclick="removeOtherRow(this)" title="Удалить">&times;</button>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            <div class="table-actions">
                <button type="button" onclick="addSellOtherRow()" class="btn-add-row">
                    <i class="fa-solid fa-plus"></i> Добавить транзакцию
                </button>
            </div>
        </div>

        <div class="form-footer">
            <button type="submit" class="btn btn-primary">Подтвердить</button>
        </div>
    </form>

    <!-- Скрытый шаблон новой строки -->
    <template id="sell-other-row-template">
        <tr class="django-form item-row">
            <td class="row-number"></td>
            <td>{{ form_sell_other.empty_form.product_name }}</td>
            <td>{{ form_sell_other.empty_form.number_in_the_operation }}</td>
            <td>{{ form_sell_other.empty_form.supplier }}</td>
            <td>{{ form_sell_other.empty_form.comment }}</td>
            <td class="text-center">
                <button type="button" class="btn-remove-row" onclick="removeOtherRow(this)" title="Удалить">&times;</button>
            </td>
        </tr>
    </template>
</div>